# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Firebase
.firebase/
firebase-debug.log*
firebase-debug.*.log*

# Google Cloud
google-credentials.json

# Firebase Admin
FIREBASE_ADMIN_KEY.json

# Client Secrets
client_secrets.json

# Service Account key
timebridgeai-6bc3ba7130cc.json